{%name%} - user name
{%new_login%} - new username
{%approve%} - approve URL
{%new_password_identificator%} - indication if new password was set
<--start_template-->
<div marginheight="0" marginwidth="0" style="background-color: #F8F8F8;padding: 50px 0;width: 100%">

    <table align="center" style="border: 1px solid rgb(225, 225, 225); width: 460px; background-color: rgb(255, 255, 255); font-family: sans-serif; border-radius: 0px 0px 15px 15px;" cellpadding="0" cellspacing="0">
        {%logo_block%}
        <tr>
            <td style="text-align: center">
                <h2 style="color: #5FB75F; font-size: 30px; margin-bottom: 25px;">Password Retrieval</h2>

            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <table width="100%" style="width: 100%">
                    <tr>
                        <td><hr style="border-width: 1px medium medium; border-style: solid none none; border-color: rgb(225, 225, 225); background-color: transparent;"></td>
                        <td style="width: 30px;text-align: center"><img src="{%site_url%}/assets/images/hand.png"/></td>
                        <td><hr style="border-width: 1px medium medium; border-style: solid none none; border-color: rgb(225, 225, 225); background-color: transparent;"></td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <div style="line-height:150%; width: 300px; margin: 0px auto 24px; padding: 25px 20px;background-color: #F9F9F9;text-align: left">

                    <div style="color: #666;text-align: left">
                        <br><br>
                        Hey {%name%}!<br><br>

                        You are receiving this email because you have made a change on your Stripe Payment Terminal which requires email validation.<br>
                        <br>
                        New account email/username: {%new_login%}<br>
                        {%new_password_identificator%}
                        <br>
                        Please click the link below to approve the change.<br>
                        {%approve%}<br>
                        <br>
                        <b>IMPORTANT!</b><br>
                        If you did not do any changes in "LOGIN SETTINGS" section of your Stripe Payment Terminal - please DO NOT click the link.<br>
                        In this case it means that there could have been a security breach and we suggest reviewing server access logs with your hosting provider along with all password changes and stripe API settings re-entering.

                    </div>

                </div>

            </td>
        </tr>


    </table>

</div>