{%name%} - customer name
{%date%} - date created
{%amount%} - amount
{%service_name%} - service name
{%email%} - customer email
{%address1%} - address line 1
{%address2%} - address line 2
{%city%} - city
{%country%} - country
{%state%} - state
{%zip%} - postal code
{%invoice_number%} - invoice number
{%billing_block%} - billing address block
{%shipping_block%} - shipping address block

<--start_template-->
<div marginheight="0" marginwidth="0" style="background-color: #F8F8F8;padding: 50px 0;width: 100%">

    <table align="center" style="border: 1px solid rgb(225, 225, 225); width: 460px; background-color: rgb(255, 255, 255); font-family: sans-serif; border-radius: 0px 0px 15px 15px;" cellpadding="0" cellspacing="0">
        {%logo_block%}
        <tr>
            <td style="text-align: center">
                <h2 style="color: #5FB75F; font-size: 30px; margin-bottom: 25px;">Payment Received</h2>

            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <table width="100%" style="width: 100%">
                    <tr>
                        <td><hr style="border-width: 1px medium medium; border-style: solid none none; border-color: rgb(225, 225, 225); background-color: transparent;"></td>
                        <td style="width: 30px;text-align: center"><img src="{%site_url%}/assets/images/hand.png"/></td>
                        <td><hr style="border-width: 1px medium medium; border-style: solid none none; border-color: rgb(225, 225, 225); background-color: transparent;"></td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <p style="color: #000000;font-size: 14px;padding:18px 0 30px 0;margin: 0">Thank you for your business! </p>
            </td>
        </tr>

        <tr>
            <td style="text-align: center">
                <div style="line-height:150%;width: 300px; margin: 0px auto 24px; padding: 25px 20px;background-color: #F9F9F9;text-align: left">
                    <label style="color: #474444;font-size: 16px">Total Paid:</label> <span style="color: #474444;font-size: 20px"><b>{%amount%}</b></span>

                    <div style="color: #666;text-align: left">

                        <br><br>Payment was made for invoice <b>#{%invoice_number%}</b>
                        <h3>Billing Information</h3>
                        <label>Full name:</label>{%name%}<br>
                        <label>Email:</label>{%email%}<br>
                        {%billing_block%}
                        {%shipping_block%}
                    </div>


                </div>

            </td>
        </tr>
        <tr>
            <td style="background-color: #F0F0F0;padding: 13px 0;text-align: center;border-radius: 0px 0px 15px 15px;">
                <a href="{%print_url%}" style="background-color: #E2E2E2;width: 114px;height: 32px;line-height: 32px;font-size: 13px;color: #656565;display: inline-block;text-decoration: none;border-radius: 3px">PRINT</a>
            </td>
        </tr>

    </table>

</div>

